* {
  box-sizing: border-box;
}

.main-wrapper {

  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  color: yellow;

}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //height: 83px;;
  background: #131313;

  
}

.logo {
    margin-left: 86px;
    //margin-right: 82px;
    //margin-top: auto;
    //margin-bottom: auto;
    margin-top: 24px;
    margin-bottom: 22px;

    .logo__text {
      font-family: FuturaDemiC;
      //font-size: 11px;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #E3B873;
    }
}

.header-navigation {
  align-self: center;
}

.header-navigation__list {
  display: flex;
}

.header-navigation__item {
  margin-right: 47px;
  list-style-type: none;
  font-family: FuturaBookC;
  //font-size: 11px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;

    &:hover {
      color: #E3B873;
    }

    &_active {
      color: #E3B873;
    }
}

.contact-section {
  height: fit-content;
  align-self: center;
  margin-right: 78px;
}

.contact-section__phone-link {
  font-family: FuturaDemiC;
  //font-size: 11px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;

  color: #E3B873;

    &:hover {
      text-decoration: none;
    }
}

.contact-section__btn {
  width: 167px;
  height: 37px;
  background: #E3B873;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #FFFFFF;
  font-family: FuturaBookC;
  //font-size: 11px;
  font-size: 14px;
  line-height: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 45px;

  text-transform: uppercase;

    &:hover {
      background: #A58653;
    }
}

.top-section {
  display: flex;
  position: relative;
}

.social-media-wrapper {
  width: 6%;
  background: #131313;
  display: flex;
  position: relative;
  //display: flex;

}

.instagram-wrapper {
  position: absolute;
  display: flex;
  //height: 100%;
  top: 270px;
  //transform: rotate(90deg);

    &__social-link {
      //margin-top: 265px;
      //align-self: center;
      height: fit-content;
      transform: rotate(90deg);
      font-family: FuturaDemiC;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: #E3B873;

        &:hover {
          color: #A58653;
        }
    }

    &__vector {
      height: 51px;
      //position: absolute;
      //top: 320px;
      //left: 40px;
      
    }

}

.top-section {
  width: 100%;
}

.turnkey-repair-section {
  width: 94%;
  background: url("./assets/images/Group\ 7.png") no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 707px;
  display: flex;
 

    &__inner-wrapper {
      align-self: center;
      width: 40%;
      margin-left: 68px;
      margin-bottom: 13px;

    }

    &__heading {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 53px;
      text-transform: uppercase;

      color: #FFFFFF;

        &_yellow {
          color: #E3B873;
        }
    }

    &__text {
      font-family: FuturaBookC;
      font-size: 22px;
      line-height: 30px;

      color: #FFFFFF;

    }

    &__buttons {
      display: flex;
      margin-top: 44px;
    }

    &__calculate_btn {
      padding: 0;
      border: 0;
      width: 207px;
      height: 51px;
      background: #E3B873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
      border-radius: 2px;
      text-transform: uppercase;

      font-family: FuturaDemiC;
      font-size: 13px;
      line-height: 15px;
      text-align: center;

      color: #FFFFFF;
      cursor: pointer;
      margin-right: 20px;

          &:hover {
            background: #A58653;
          }
    }

    &__submit_btn {
      padding: 0;
      border: 0;
      width: 207px;
      height: 51px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      background: none;
      font-family: FuturaDemiC;
      font-size: 13px;
      line-height: 15px;
      text-align: center;

      color: #FFFFFF;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background: #A58653;
      }
    }
}



.scroll-down {
  position: absolute;
  width: 247px;
  height: 97px;
  bottom: -47px;
  background: #131313;
  display: flex;

    // &__inner-wrapper {
    //   position: relative;
    // }

    &__text {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;

      color: #FFFFFF;
      margin-left: 48px;
      height: fit-content;
      align-self: center;
      width: fit-content;

    }

    &__circle {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      border: 1.5px solid #E3B873;
      position: absolute;
      left: 169px;
      top: 34px;
    }

    &__icon-wrapper {
      position: relative;
    }

    &__link {
      position: absolute;
      top: 6px;
      left: 7px;
    }
}

.completed-projects-section {
  //background-image: url("./assets/images/Group\ 211.png");
  background: #131313;
  //height: 1060px;
  padding-bottom: 80px;

    &__inner-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      //margin-bottom: 80px;
    }

    &__content-area {
      width: 32%;
      //margin-left: 100px;
      margin-left: 7%;
    }

    &__heading {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;

      color: #E3B873;

    }

    &__text {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 29px;

      color: #FFFFFF;
    }

    &__grid {
      display: grid;
      width: 90%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

        &-item-heading {
          margin-bottom: 9px;
          font-family: Yeseva One;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;

          color: #E3B873;
        }

        &-item-value {
          margin-top: 0;
          font-family: FuturaBookC;
          font-size: 15px;
          line-height: 20px;

          color: #FFFFFF;
        }
    }

    .slider {
      width: 848px;
      //width: 68%;
      overflow: hidden;

        &__content {
          //width: 120%;
          overflow: hidden;
          position: relative;

        }

        &__pagination-circle-wrapper {
          position: absolute;
          top: 205px;
          //top: 50%;
          right: 42px;
        }

        &__pagination-circle {
          width: 55px;
          height: 55px;
          background: #E3B873;
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          border-radius: 50%;
          position: relative;

            &:hover {
              opacity: 0.7;
            }

            &-arrow {
              width: 10px;
              height: 17px;
              position: absolute;
              top: 19px;
              left: 24px;
              cursor: pointer;

            }

        }
    }

    .slider-arrow {
      cursor: pointer;
      margin-right: 30px;

      

        &:last-child {
          margin-left: 30px;
        }
    }

    .slider-dot {
      cursor: pointer;
      margin-right: 15px;

        &_active {
          background: #FFFFFF;
          border-radius: 50%;
          width: 9px;
          height: 9px;
        }

        &:hover {
          background: #FFFFFF;
          border-radius: 50%;
        }

        &:nth-child(4) {
          margin-right: 0;
        }
    }

    .slider__img:first-child {
      margin-right: 20px;
    }
}

.cities {
  display: flex;
  justify-content: flex-end;

    &__list {
      margin: 0;
      list-style-type: none;
      padding-top: 107px;
      display: flex;
      margin-bottom: 53px;
      margin-right: 170px;
      
    }

    &__item {
      margin-right: 60px;
      font-family: Yeseva One;
      padding-bottom: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.3);
      cursor: pointer;

        &:hover {
          color: #E3B873;
          border-bottom: 1px solid #E3B873;
        
        }

        &_selected {
          color: #E3B873;
          border-bottom: 1px solid #E3B873;
        }
    }
}

.online-control-section {
  background: #131313;

    &__heading-wrapper {

      width: fit-content;
      margin: 0 auto;
      margin-bottom: 25px;
      //background: #131313;
    }

    &__heading-text {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
      margin-bottom: 10px;

    }

    &__heading-icons {
      width: fit-content;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    &__heading-line {
      width: 32px;
      height: 1.5px;
      background: #E3B873;
    }

    &__heading-icon {

      margin-left: 8px;
      margin-right: 8px;
    }

    &__main-content {
      display: flex;
    }

    &__column {
      width: 22%;

        &-half {
          height: 50%;
            &:last-child {
              background: #FFFFFF;
            }
        }
    }

    .video-wrapper {

      width: 817px;
      height: 434px;
      position: relative;
      overflow: hidden;
      //margin: 0 auto;

    
        .embedded-video {
          position: absolute; 
        
          width: 102%;
          //height: 110%;
          height: 100%; 
          //top: 2%;
          top: 0;
          left: -1%;
        }

        .overlay {
          //position:fixed;
          top:0;
          left:0;
          width: 817px;
          height: 434px;
          background:#000;
          opacity:0.8;
          z-index:50;
          color:#fff;
        }
        
        
    }
}

.form-section {

  padding-top: 63px;


    &__line-wrapper {
      margin-bottom: 34px;
    }

    &__line {
      width: 55px;
      height: 1.5px;
      background: #E3B873;
      margin: 0 auto;
    }


    &__text {
      font-family: FuturaBookC;
      font-size: 20px;
      line-height: 34px;
      text-align: center;

      color: #363636;
      width: 49%;
      margin: 0 auto;
      margin-bottom: 91px;

    }


    .form-wrapper {
      //width: 55%;
      max-width: 778px;
      margin: 0 auto;
      padding-bottom: 150px;

    }

    .form {
      display: flex;
      flex-wrap: wrap;

        .input-field {
          display: block;
        }

        .label {
          display: inline-block;
          font-family: FuturaBookC;
          font-size: 15px;
          line-height: 20px;

          color: rgba(54, 54, 54, 0.5);

          margin-bottom: 7px;
        }

        .name {
          order: 0;
          //width: 231px;
      
        }

        .phone {
          order: 1;
        }

        .submit-btn {
          width: 200px;
          height: 51px;
          order: 2;
          background: #E3B873;
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          border: 0;
          border-radius: 2px;
          color: #FFFFFF;
          text-transform: uppercase;
          cursor: pointer;
        }

        .checkbox-container {
          order: 3;
          margin: 0 auto;
          margin-top: 33px;

          .checkbox-field {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it

            & + label {
              position: relative;
              cursor: pointer;
              padding: 0;
              font-family: FuturaBookC;
              font-size: 16px;
              line-height: 22px;

              color: #181818;

            }

            & + label::before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 18px;
              height: 18px;
              background: #E3B873;
              border-radius: 1px;
            }

            // Box hover
            &:hover + label::before {
              background: #E3B873;
            } 
            
            &:checked + label::before {
              background: #E3B873;
            }

            &:checked + label::after {
              content: '';
              position: absolute;
              left: 5px;
              top: 6px;
              background-image: url("./assets/images/checkmark.svg");
              width: 8px;
              height: 6px;
            }
          }
            

            
            

            
        }


        .input-field {
          width: 231px;
          border: 0;
          border-bottom: 1px solid rgba(54, 54, 54, 0.3);
          margin-right: 58px;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          font-family: FuturaBookC;
          font-size: 18px;
          line-height: 24px;

          color: #363636;


          opacity: 1; /* Firefox */
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
          font-family: FuturaBookC;
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
    }
}

.types-of-repair-section {

  .heading {

    &__text {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;

      color: #181818;
      margin-bottom: 20px;
    }

    &__icons {
      display: flex;
      width: fit-content;
      margin: 0 auto;
      align-items: center;
      margin-bottom: 30px;
    }

    &__line {
      width: 32px;
      height: 1.5px;
      background: #E3B873;
    }

    &__icon {
      margin-left: 10px;
      margin-right: 10px;
    }

  }

  .types-of-repair {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    margin: 0 auto;

      .type {
        width: 33%;
        position: relative;
        margin-bottom: 210px;
        //width: 392px;
        //width: 100%;
          &:nth-child(1) {
            margin-right: 6px;
          }

          &:nth-child(2) {
            margin-right: 6px;
          }

          &__illustration {

            width: 100%;
            height: 421px;

              &_redecorating {
                background: url("./assets/images/redecorating.png") no-repeat;
              }

              &_overhaul {
                background: url("./assets/images/overhaul.png") no-repeat;
              }

              &_designer-repair {
                background: url("./assets/images/designer-repair.png") no-repeat;  
              }
          }

          &__work-done {
            background: #FFFFFF;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            position: absolute;
            //width: 330px;
            width: 81%;
            height: 286px;
            top: 294px;
            left: 31px;

              &-inner-wrapper {
                position: relative;
              }
          }

          &__heading {
            font-family: "Yeseva One";
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            padding-left: 34px;

            color: #363636;
          }

          &__list {
            font-family: "FuturaBookC";
            font-size: 15px;
            line-height: 25px;
            padding-left: 54px;

            color: #959595;

          }

          &__price {
            width: 228px;
            height: 54px;
            padding-top: 17px;
            background: #E3B873;
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

            font-family: "Yeseva One";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            text-align: center;

            color: #FFFFFF;
            position: absolute;
            top: 240px;
          
          }
      }
  }
}

.advantages-section {
  margin-top: 210px;
  margin-bottom: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .advantages-illustration {
    position: relative;
    overflow: hidden;

  
  } 

  .advantages-form-wrapper {
    margin-right: 99px;
    margin-top: 80px;
  }

  .advantages-illustration__circle { 
    height: 625px;
    width: 666px;
    display: inline-block;
    position: absolute;
    background: transparent;
    
    left: -190px;
    border-radius: 50%;
    border: 3px solid #E3B873;
    top: 59px;

  
  }

  .advantages-illustration__small-circle {
    box-sizing: content-box;
    width: 42px;
    height: 42px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 20px solid #ffffff;
    position: absolute;
    
      &_first {
        top: 84px;
        left: 305px;

          &::before {
            content: "Our specialist will arrive for measurements per day contact, or appoint a date convenient for you";
            width: 380px;
            margin-left: 60px;
            display: inline-block;
            font-family: FuturaMediumC;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;

            color: #363636;
          }
      }

      &_second {
        top: 206px;
        left: 403px;

        &::before {
          content: "Free metering";
          width: 380px;
          margin-left: 60px;
          display: inline-block;
          font-family: FuturaMediumC;
          font-size: 18px;
          line-height: 21px;
          font-weight: 600;
          padding-top: 10px;

          color: #363636;
        }
      }

      &_third {
        top: 388px;
        left: 428px;

        &::before {
          content: "Free consultation";
          width: 380px;
          margin-left: 60px;
          display: inline-block;
          font-family: FuturaMediumC;
          font-size: 18px;
          line-height: 21px;
          font-weight: 600;
          padding-top: 10px;

          color: #363636;
        }
      }

      &_fourth {
        top: 526px;
        left: 360px;

        &::before {
          content: "Get a cost estimate and the timing of your future repairs";
          width: 225px;
          margin-left: 60px;
          display: inline-block;
          font-family: FuturaMediumC;
          font-size: 18px;
          line-height: 21px;
          font-weight: 600;
          //padding-top: 10px;

          color: #363636;
        }
      }

  }
  

  fieldset {
    border: 0;
    margin: 0 auto;
    width: fit-content;

      legend {
        padding-top: 28px;
        text-align: center;
        font-family: "FuturaDemiC";
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        color: #FFFFFF;
        margin-bottom: 39px;

      }

  }

  .form {
    background: #000000;
    width: 509px;
    height: 506px;
      .label {
        display: inline-block;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: rgba(255, 255, 255, 0.5);

        
      }

      .field-section {
        margin-bottom: 48px;
        width: fit-content;

          &-email {
            margin-bottom: 16px;
          }
 
      }


      .input-field {
        display: block;
        width: 408px;
        background: #000000;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: FuturaMediumC;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */


        color: #FFFFFF;


        opacity: 1; /* Firefox */
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: FuturaMediumC;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
        
        
        color: #FFFFFF;
      }

      .checkbox-container {
        
        //margin: 0 auto;
        width: fit-content;
        margin-bottom: 39px;
        

        .checkbox-field {
          position: absolute; // take it out of document flow
          opacity: 0; // hide it

          & + label {
            position: relative;
            cursor: pointer;
            padding: 0;

            font-family: FuturaBookC;
            font-size: 16px;
            line-height: 22px;

            color: #FFFFFF;


          }

          & + label::before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 18px;
            height: 18px;
            background: #E3B873;
            border-radius: 1px;
          }

          // Box hover
          &:hover + label::before {
            background: #E3B873;
          } 
          
          &:checked + label::before {
            background: #E3B873;
          }

          &:checked + label::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 6px;
            background-image: url("./assets/images/checkmark.svg");
            width: 8px;
            height: 6px;
          }
        }
      } 

      .submit-btn {
        width: 213px;
        height: 51px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
        border: 0;
       
        text-transform: uppercase;
        cursor: pointer;
        font-family: "FuturaDemiC";
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        margin-left: 194px;

        color: #FFFFFF;
      }
  }

  .advantages-discount-wrapper {

      .discount__circle {
        position: relative;
        height: 72px;
        width: 72px;
        border-radius: 50%;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
        margin-left: 50px;
        margin-top: 38px;
        cursor: pointer;

          &::before {
            content: "Help save 10 - 20% of the cost of materials";
            display: inline-block;
            width: 236px;
            font-family: "FuturaDemiC";
            font-size: 20px;
            line-height: 25px;
            margin-left: 95px;
            margin-top: 15px;
            cursor: pointer;


            color: #E3B873;

            text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
          }

          .discount__img {
            position: absolute;
            top: 20px;
            left: 17px;
         }
    }
  }
}

.design-styles-section {
  //background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  //height: 800px;
  //height: 9%;
  height: 864px;
  margin-bottom: 162px;

    &__inner-wrapper {

      background: url(./assets/images/design-styles-bg.png) no-repeat;
      width: 100%;
      height: 100%;
      

    }

    &__gradient-bg {
      background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
      width: 100%;
      //height: 864px;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    .mob-column {
      display: none;
    }

    &__content {
      margin-left: 7%;
      height: fit-content;
      margin-top: 100px;

      .content__heading {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        margin-bottom: 43px;

        color: #E3B873;
      }

      .content__list {
        list-style-type: none;
        font-family: "Proxima Nova";
        font-size: 20px;
        line-height: 34px;
        padding: 0;

        color: #FFFFFF;

          .list__item {
            margin-bottom: 18px;
            cursor: pointer;

            &_active {
              color: #E3B873;
            }

            &:hover {
              color: #E3B873;
            }
          }
      }
    }

    &__illustrations {
      position: relative;
      display: flex;
      margin-right: 7%;

        .illustrations__column {
          position: absolute;
          width: 354px;

            &:first-child {
              right: 378px;
              top: -40px;
              margin-right: 28px;
            }

            &:last-child {
              right: 0px;
              bottom: 40px;
            }

          .illustrations__img {


              &_top {
                margin-bottom: 40px;
              }
          }
        }
    }
}

.design-project-section {

    .heading {
      
        &__text {
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          text-transform: uppercase;

          color: #181818;
          margin-bottom: 13px;


        }

        &__icons {
          display: flex;
          width: fit-content;
          margin: 0 auto;
          align-items: center;
          margin-bottom: 25px;
        }
    
        &__line {
          width: 32px;
          height: 1.5px;
          background: #E3B873;
        }
    
        &__icon {
          margin-left: 10px;
          margin-right: 10px;
        }

        &__copy {
          font-family: "FuturaBookC";
          font-size: 20px;
          line-height: 27px;
          text-align: center;

          color: #363636;
          width: 53%;
          margin: 0 auto;
          margin-bottom: 50px;
        }
    }

    .design-project-variants {

      display: flex;

        &__column {

          width: 7%;

            &-half {

              //height: 50%;

                &_top {

                  background: #ffffff;
                  height: 40%;

                }

                &_bottom {

                  background: #131313;
                  height: 60%;

                }
            }
        }

        &__column-middle {
          width: 2%;

            &-half {
              //height: 50%;

                &_top {
                  background: #ffffff;
                  height: 40%;
                }

                &_bottom {
                  background: #131313;
                  height: 60%;
                }
            }

        }

        &__variants {

          display: flex;
          width: 86%;
          height: 700px;


            .variant {

              width: 32%;
              position: relative;
              background: #131313;
              display: flex;
              flex-direction: column;

                &__illustration {

                  height: 421px;

                    &-bg {
                      background: rgba(0, 0, 0, 0.3);
                      height: 100%;

                        &_bordered {
                          border: 1px solid #000000;
                        }
                    }

                    &_mini {
                      background: url("./assets/images/design-project-mini.png");
                    }

                    &_standard {
                      background: url("./assets/images/design-project-standard.png");
                    }

                    &_full {
                      background: url("./assets/images/design-project-full.png");
                    }
                }

                &__scope-of-work {

                  background: #ffffff;
                  position: absolute;
                  top: 292px;
                  left: 8%;
                  width: 84%;

                    &-inner-wrapper {
                      position: relative;
                    }

                    &_middle {
                      height: 286px;
                    }

                    &_last {
                      height: 414px;
                    }

                }
              

                &__heading {
                  font-family: "Yeseva One";
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 25px;
                  padding-left: 9%;

                  color: #363636;
                }

                &__list {
                  font-family: "FuturaBookC";
                  font-size: 15px;
                  line-height: 25px;
                  padding: 0;
                  padding-left: 15%;
                  margin-bottom: 30px;

                  color: #959595;
                }

                &__price {
                  position: absolute;
                  background: #E3B873;
                  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.1);
                  width: 69%;
                  padding-top: 17px;
                  padding-bottom: 17px;
                  padding-left: 33px;

                  font-family: "Yeseva One";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 25px;
                  text-transform: uppercase;

                  color: #FFFFFF;

                    &_static {
                      position: static;
                    }

                    &_absolute {
                      top: 113%;
                    }

                }

            }

        }
    }
}

.how-we-work-section {

  background: #131313;
  padding-bottom: 95px;

    .grid {
      height: 654px;
      display: grid;
      margin-left: 7%;
      margin-right: 7%;
      //grid-template-rows: 34px 66px 89px 89px 260px 116px;
      grid-template-rows: 5% 10% 14% 14% 39% 18%;
      grid-template-columns: 38% 27% 27% 8%;
    }

    .heading {
      margin: 0;
      font-family: "FuturaDemiC";
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;

      color: #FFFFFF;
      grid-column-start: 1;
      grid-column-end: 5;
      

    }

    .subheading {
      margin: 0;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;

      color: #E3B873;

      //border: 1px solid #000000;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    .step {

      color: grey;

        &_active {
          color: #ffffff;
        }

        &__number {
          margin-bottom: 10px;
          width: 16px;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 21px;
          text-transform: uppercase;
          border-bottom: 1px solid rgba(227, 184, 115, 0.3);

            &_active {
              border-bottom: 1px solid #E3B873;
            }

        }

        &__name {
          margin: 0;
          font-family: "FuturaBookC";
          font-size: 15px;
          line-height: 18px;



        }
    }

    .current-step {

      grid-row-start: 4;
      grid-row-end: 6;

        &__number {
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          margin-bottom: 26px;

          color: #FFFFFF;
        }

        &__name {
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 23px;
          text-transform: uppercase;
          margin: 0;
          margin-bottom: 15px;

          color: #E3B873;
        }

        &__description {
          margin: 0;
          margin-bottom: 15px;
          //width: 345px;
          width: 74%;
          font-family: FuturaBookC;
          font-size: 15px;
          line-height: 25px;

          color: #FFFFFF;
        }
    }

    .illustration {
      background: url("./assets/images/how-we-work-img.png");
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 7;
    }

    .step-switcher {

        .arrow {

          cursor: pointer;

            &:first-child {
              margin-right: 16px;
            }

        }

        .circle {
          margin-right: 16px;
          cursor: pointer;
          width: 10px;
          height: 10px;

            &_active {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              background: #ffffff;
            }

            &:hover {
              border-radius: 50%;
              background: #ffffff;
            }
        }
    }
}

.our-team-section {
  background: #131313;
  margin-bottom: 89px;

    .heading {
      background: #131313;

      
        &__text {
          margin: 0;
          
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;
          margin-bottom: 13px;
        }

        &__icons {
          display: flex;
          width: fit-content;
          margin: 0 auto;
          align-items: center;
          margin-bottom: 24px;
        }

        &__line {
          width: 32px;
          height: 1.5px;
          background: #E3B873;
        }

        &__icon {
          margin-left: 10px;
          margin-right: 10px;
        }

        &__copy {
          width: 32%;
          font-family: "FuturaBookC";
          font-size: 20px;
          line-height: 27px;
          text-align: center;

          color: #FFFFFF;
          margin: 0 auto;
          margin-bottom: 78px;
        }
    }

    .team {
      display: flex;
      height: 415px;

        .column {
          width: 15%;

            &_middle {
              width: 7%;
            }

            &__half {
              height: 50%;

                &_top {
                  background: #131313;
                  height: 44.5%;
                }

                &_bottom {
                  background: #ffffff;
                  height: 55.5%;
                }

            }
        }

        .team-member {
          position: relative;
          width: 19%;
          background: #ffffff;

            &__role-icon {
              width: 70px;
              height: 70px;
              background: #E3B873;
              box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
              position: absolute;
              bottom: 380px;
              right: 233px;

                .icon {
                  margin-left: 13px;
                  margin-top: 13px;
                }

            }

            &__photo {

              height: 358px;

                &_pm {
                  background: url("./assets/images/pm_photo.png");
                }

                &_designer {
                  background: url("./assets/images/designer_photo.png");
                }

                &_foreman {
                  background: url("./assets/images/foreman_photo.png");
                }
            }

            &__intro {
              position: absolute;
              width: 86%;
              height: 137px;
              background: #ffffff;
              top: 277px;
              left: 7%;


            }

            &__name {
              font-family: "Yeseva One";
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 25px;
              text-align: center;
              margin-top: 22px;
              margin-bottom: 9px;
              

              color: #181818;

            }

            &__role {
              font-family: "FuturaBookC";
              font-size: 18px;
              line-height: 26px;
              text-align: center;
              margin-bottom: 24px;

              color: #959595;
            }

            &__experience {
              padding-top: 13px;
              padding-bottom: 14px;
              background: #E3B873;
              font-family: "Yeseva One";
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 20px;
              text-align: center;
              text-transform: uppercase;

              color: #FFFFFF;

            }
        }
    }

    .team-description {
      background: #ffffff;
      padding-top: 60px;

        &__line {
          width: 55px;
          height: 2px;
          background: #E3B873;
          margin: 0 auto;
          margin-bottom: 17px;
        }

        &__copy {
          margin: 0;
          font-family: "FuturaBookC";
          font-size: 20px;
          line-height: 34px;
          text-align: center;
          width: 38%;
          margin: 0 auto;

          color: #363636;

        }
    }
}

.our-clients-section {

  margin-bottom: 130px;

    .heading {

        &__text {
          margin: 0 auto;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: bold;;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          text-transform: uppercase;

          color: #181818;
          margin-bottom: 13px;
          width: 18%;
        }

        &__icons {

          display: flex;
          width: fit-content;
          margin: 0 auto;
          align-items: center;
          margin-bottom: 24px;

        }

        &__line {
          width: 32px;
          height: 1.5px;
          background: #E3B873;
        }

        &__icon {
          margin-left: 10px;
          margin-right: 10px;
        }

        &__copy {
          font-family: "FuturaBookC";
          font-size: 20px;
          line-height: 27px;
          text-align: center;

          color: #363636;
          width: 28%;
          margin: 0 auto;
          margin-bottom: 40px;

        }
    }

    .reviews {
      width: 86%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

        .review {
          position: relative;
          width: 30%;
          background: #FFFFFF;
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
          min-height: 428px;

            &__author {
              display: flex;
              margin-left: 5%;

                .author {
                  

                  &__photo {

                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    margin-right: 6%;
                    
                    
                    &_1 {
                      background: url("./assets/images/review-author-1.png");
                    }

                    &_2 {
                      background: url("./assets/images/review-author-2.png");
                    }

                    &_3 {
                      background: url("./assets/images/review-author-3.png");
                    }
                  }

                  &__name {
                    font-family: "Yeseva One";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;

                    color: #181818;
                    padding-top: 5%;
                  }

                  
                }
            }


            &__text {
              font-family: FuturaBookC;
              font-size: 15px;
              line-height: 27px;
              color: #959595;
              width: 87%;
              margin-left: 5%;

            }

            &__project-stats {
              position: absolute;
              top: 94%;
              min-height: 54px;
              width: 78%;
              background: #E3B873;
              box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
              display: flex;
              

                .square {

                  display: flex;
                  align-items: center;

                  border-right: 1px solid #ffffff;
                  padding-top: 10px;
                  padding-left: 17px;
                  padding-right: 15px;
                  padding-bottom: 10px;

                  // padding-top: 3%;
                  // padding-left: 6%;
                  // padding-right: 5%;


                    &__icon {
                      margin-right: 15px;

                    }

                    &__meters {
                      
                      font-family: "Yeseva One";
                      font-style: normal;
                      font-weight: normal;
                      font-size: 17px;
                      line-height: 24px;
                      text-transform: uppercase;

                      color: #FFFFFF;

                    }

                }

                .timing {

                  display: flex;
                  align-items: center;

                  padding-top: 10px;
                  padding-left: 17px;
                  padding-right: 15px;
                  padding-bottom: 10px;

                  // padding-top: 3%;
                  // padding-left: 6%;
                  // padding-right: 5%;

                    &__icon {
                      margin-right: 15px;

                    }

                    &__days {
                      text-transform: uppercase;
                      font-family: "Yeseva One";
                      font-style: normal;
                      font-weight: normal;
                      font-size: 17px;
                      line-height: 24px;

                      color: #FFFFFF;
                    }

                }
            }
        }
    }
}

.contacts-section {
  min-height: 1170px;
  background-color: #ffffff;
  background-image: url("./assets/images/contacts-bg.png"), linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  //background-image: url("./assets/images/contacts-bg.png");
  background-repeat: no-repeat;
  background-position: 0 216px;
  background-blend-mode: multiply;

    .form-wrapper {
      min-height: 445px;
      width: 61%;
      background: #181818;
      margin: 0 auto;
      margin-bottom: 50px;
      padding-top: 34px;
    }

    .form-heading {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 46px;

      color: #FFFFFF;

    }

    .form {
      width: 60%;
      margin: 0 auto;

        .label {
          display: block;
          font-family: "FuturaBookC";
          font-size: 15px;
          line-height: 20px;

          color: rgba(255, 255, 255, 0.5);

        }

        &__row {

            &_1 {
              display: flex;
              justify-content: space-between;
              margin-bottom: 49px;
            }

            &_2 {
              min-height: 45px;
              margin-bottom: 45px;
            }

        }

        &__field {
          min-height: 45px;
          width: 44%;

            .input-field {

              width: 100%;
            }
        }

        .input-field {

          background: #181818;
          border: 0;
          min-height: 30px;
          color: #ffffff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);

            &:focus {
              outline: none;
            }

            &::placeholder {
              font-family: "FuturaBookC";
              font-size: 18px;
              line-height: 24px;

              color: #FFFFFF;
            }


            &_question {
              width: 100%;
            }
        }

        .checkbox-container {
          width: 56%;
          margin: 0 auto;
          margin-bottom: 45px;

            .label {
              position: relative;
              display: inline;
              font-family: "FuturaBookC";
              font-size: 16px;
              line-height: 22px;

              color: #FFFFFF;
              cursor: pointer;

              &::before {
                content: "";
                width: 18px;
                height: 18px;
                display: inline-block;
                background: #E3B873;
                border-radius: 1px;
                margin-right: 10px;
                vertical-align: text-top;
              }
            }

            .checkbox-field {
              position: absolute;
              opacity: 0;

            }

            .checkbox-field:checked {

              & + label::before  {
                background: #E3B873;
              }

              & + label::after {
                content: "";
                position: absolute;
                background: url("./assets/images/checkmark.svg");
                width: 8px;
                height: 6px;
                left: 5px;
                top: 6px;
              }

            }
        }

        .btn-container {
          text-align: center;
          
            .submit-btn {
              width: 38%;
              min-height: 51px;
              border: 0;
              background: #E3B873;
              box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
              cursor: pointer;

              font-family: FuturaDemiC;
              font-size: 15px;
              line-height: 26px;
              text-align: center;
              text-transform: uppercase;

              color: #FFFFFF;


                &:focus {
                  outline: none;
                }
            }
        }
    }

    .contacts {
      width: 42%;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;

      color: #E3B873;
      margin: 0 auto;
      margin-bottom: 26px;

        &__tel-link {
          color: #E3B873;
          text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
        }

    }


    .social-icons {
      display: flex;
      width: 71px;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 40px;

        &__icon {
          width: 28px;
          height: 28px;
          background: #E3B873;
          border-radius: 50%;
          text-align: center;
          padding-top: 7%;
          cursor: pointer;

        
        }
    }

    .map {
      background: url("./assets/images/google-map-img1.png");
      min-height: 460px;
      width: 64%;
      margin: 0 auto;
    }

}

.footer {
  background: #181818;
  
    &__inner-wrapper {
      width: 86%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .logo {
      margin: 0;

      font-family: "FuturaDemiC";
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      

      color: #E3B873;

    }

    .nav {
      width: 47%;
      
        &__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0;
          list-style-type: none;
          padding: 0;
        }

        &__item {
          cursor: pointer;
        }

        &__link {
          font-family: "FuturaBookC";
          font-size: 14px;
          line-height: 16px;

          color: #FFFFFF;
          text-decoration: none;
          text-transform: uppercase;

            &_active {
              color: #E3B873;
            }

            &:hover {
              color: #E3B873;
            }
        }
    }

    &__phone-link {
      font-family: "FuturaDemiC";
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      text-decoration-line: underline;

      color: #E3B873;

        &:hover {
          text-decoration: none;
        }

    }

    .call-request-btn {
      width: 13%;
      border: 0;
      min-height: 37px;
      background: #E3B873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

      font-family: "FuturaDemiC";
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;

      cursor: pointer;
      
        &:focus {
          outline: none;
          
        }

        &:hover {
          background: #A58653;
        }
    }
}
